@media screen and (max-width: 1100px){
    #navbar {
        height: 8vh;
    }

    #section {
        display: block;
    }

    #container {
        width: 100%;
        height: 55vh;
    }

    #another-container {
        width: 100%;
        padding-top: 0px;
        height: 70vh;
    }

    #heading {
        width: 90%;
        left: 5%;
        right: 5%;
        font-size: 22px;
    }

    .content {
        height: 22vh;
    }

    .another-content {
        height: 55vh;
    }

    .input-field{
        padding-top: 15px;
    }
    
    .form-group {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .footer {
        height: 8vh;
    }

    .footer div {
        width: 60%;
        left: 20%;
        right: 20%;
    }
}

@media screen and (max-height: 500px){
    #navbar {
        height: 15vh;
    }

    #section {
        display: block;
    }

    #container {
        padding-top: 20vh;
        width: 100%;
        height: 130vh;
    }

    #another-container {
        width: 100%;
        padding-top: 0px;
        height: 140vh;
    }

    #heading {
        width: 90%;
        left: 5%;
        right: 5%;
        font-size: 22px;
    }

    .content {
        height: 80vh;
    }

    .another-content {
        height: 120vh;
    }

    .input-field{
        padding-top: 15px;
    }
    
    .form-group {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .footer {
        height: 15vh;
    }

    .footer div {
        width: 60%;
        left: 20%;
        right: 20%;
    }
}
